.wrapper {
  display: grid;
  row-gap: 1.2rem;
  margin-bottom: 3.6rem;
}

.button {
  width: 15rem;
  padding: 0.6rem 1.2rem;

  &Long {
    width: 18rem;
  }
}

.cardsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 15rem));
  gap: 4.8rem;
  justify-items: center;
}

.cardWrapper {
  display: grid;
  justify-items: center;
  gap: 1.2rem;
}

.guess {
  &Success {
    outline: var(--color-success) solid 0.5rem;
  }

  &Error {
    outline: var(--color-error) solid 0.5rem;
  }
}
