@use "@/assets/styles/mixins";

.wrapper {
  display: grid;
  row-gap: 1.2rem;

  @include mixins.respond-to-screen(small) {
    grid-template-columns: 100%;
    justify-items: center;
  }
}

.button {
  width: 15rem;
  padding: 0.6rem 1.2rem;

  &Long {
    width: 18rem;
  }

  &ShowAll {
    margin-bottom: 1.2rem;
  }
}

.cardsGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 15rem));
  column-gap: 4.8rem;
  row-gap: 3.2rem;
  justify-items: center;

  @include mixins.respond-to-screen(small) {
    justify-items: center;
    justify-content: center;
  }
}

.cardWrapper {
  display: grid;
  justify-items: center;
  gap: 1.2rem;
}

.guess {
  &Success {
    outline: var(--color-success) solid 0.5rem;
  }

  &Error {
    outline: var(--color-error) solid 0.5rem;
  }
}
