.guesses {
  &Wrapper {
    display: grid;
    row-gap: 0.8rem;
  }

  &Heading {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 0.8rem;
    align-items: center;

    &_withMargin {
      margin-bottom: 0.4rem;
    }

    & :global(.color-success),
    :global(.color-error) {
      font-size: 1.25em;
    }
  }

  &Grid {
    justify-content: start;
  }
}
