.wrapper {
  display: grid;
  place-items: center;
  row-gap: 2.4rem;
}

.cardsWrapper {
  width: 100%;
  display: grid;
  justify-items: center;
  row-gap: 1.2rem;
}

.cardToGuess {
  outline: var(--color-primary) solid 0.3rem;
}
