.wrapper {
  display: grid;
  place-items: center;
  row-gap: 2.4rem;
}

.heading {
  grid-column: 1;
  grid-row: 1;
}

.timer {
  justify-self: end;
  grid-column: 1;
  grid-row: 1;
}

.cardsWrapper {
  width: 100%;
  display: grid;
  justify-items: center;
  row-gap: 1.2rem;
}
