.grid {
  width: 100%;
  display: grid;
  justify-items: center;
  justify-content: center;

  &__small {
    grid-template-columns: repeat(auto-fill, minmax(auto, 5rem));
    gap: 0.5rem;
  }

  &__medium {
    grid-template-columns: repeat(auto-fill, minmax(auto, 10rem));
    gap: 2rem;
  }
}
