@use "@/assets/styles/reset";
@use "@/assets/styles/fonts";
@use "@/assets/styles/utility";
@use "@/assets/styles/mixins";

:root {
  --font-default: "VG5000", system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans",
    "Helvetica Neue", sans-serif;
  --color-light: #fffcf2;
  --color-dark: #252422;
  --color-disabled: #ccc5b9;
  --color-primary: #eb5e28;
  --color-secondary: #28b5eb;
  --color-success: #90be6d;
  --color-error: #f94144;

  @media (prefers-contrast: more) {
    --color-dark: black;
    --color-light: white;
  }
}

html {
  font-size: 62.5%;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);

  @include mixins.respond-to-screen(tiny) {
    font-size: 56.25%;
  }
}

body {
  font-family: var(--font-default);
  font-size: 2rem;
  line-height: 1.3;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

#root {
  padding: 4rem 10rem;

  @include mixins.respond-to-screen(small) {
    padding: 3rem 5rem;
  }

  @include mixins.respond-to-screen(tiny) {
    padding: 1.5rem 2rem 3rem;
  }
}
